.abc{
    display: none;
    margin-left: 20%;
    margin-top: 20px;
}
.form{
    padding: 30px;
    margin-top: 30px;
    width: 400px;
    background-color: rgb(70, 122, 70);
    color: aliceblue;
}